html,
body {
    font-size: 16px;
    color: white;
    background-color: black;
}

a {
    color: goldenrod;
}

a:hover {
    color: crimson;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-1 {
    background: black;
}

.section-2 {
    background-color: black;
}

.section-3 {
    background-color: black;
}

.section-4 {
    background-color: black;
    padding: 0.2rem;
}

a.nav-item {
    color: goldenrod;
}

a.nav-item:hover {
    color: crimson;
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.intro-description {
    padding-top: 1rem;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
}

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.void-background {
    background-color: transparent;
}


/* styling of footer */

footer {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}


/* footer styling ends */


/* choosing specific color for social media icons in footer */


/* Facebook */

.fa-facebook {
    color: goldenrod;
}


/* Twitter */

.fa-twitter {
    color: goldenrod;
}


/* Instagram */

.fa-instagram {
    color: goldenrod;
}


/* github */

.fa-github {
    color: goldenrod;
}


/* footer styling ends */

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #063647;
    }
    .nav-toggle:hover {
        background-color: transparent;
    }
    .nav-toggle span {
        background-color: #dfdfdf;
    }
    .nav-toggle span:hover {
        background-color: #fff;
    }
}