        /**nav bar styling**/

body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
header {  
background-color: orange;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: blue;  
text-decoration: none;  
}     

        /**nav bar styling ends**/
        /**styling the body  and gallery**/
        
        body {
            background: #111;
        }
        
        img {
            width: 100%;
        }
        
        .photo-grid-container {
            column-count: 5;
            column-width: 300px;
        }
        
        .photo-grid-item {
            margin: 0 auto 15px;
            max-width: 400px;
            width: 100%;
        }
        
        img:hover {
            filter: none;
        }
        
        img {
            filter: grayscale(100%);
        }
        
        img {
            transition: filter 2s;
        }
